.background {
  position: relative;
  text-align: center;
  background-color: red;
}

.title {
  position: relative;
  text-align: center;
 color:black;
 font-size: 30px;
 background-color: yellow;
 padding: 10px 20px;
 font-family: "ZCOOl Kuaile";
}

.start {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  font-family: "ZCOOl Kuaile";
}

.Time {
  font-size: 30px;
  background-color:black ;
  color:white;
  position: relative;
  text-align: center;
  font-family: "ZCOOl Kuaile";
}

.pimple {
  position: absolute;
  background-image: url(https://i.ibb.co/CszHx9k/pimple.png);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;

}

.replay {
  display: block;
  width: 100%;
  border: none;
  background-color: yellow;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  font-family: "ZCOOl Kuaile";
}

.popped {
  background-image: url(https://i.ibb.co/8Kwtz1M/imageedit-3-9406146708-1.png);
}

